body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    font-family: 'Kaushan Script', cursive;

}

/* .clock {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid white;
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 350px;
} */

.wrap {
    position: relative;
    width: 350px;
    height: 350px;
}

.minute,
.heure {
    position: absolute;
    height: 100px;
    width: 6px;
    margin: auto;
    top: -27%;
    left: 0;
    bottom: 0;
    right: 0;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background: black;
}

.minute {
    position: absolute;
    height: 130px;
    width: 4px;
    top: -38%;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
}

.seconde {
    position: absolute;
    height: 300px;
    width: 300px;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    /* background: hsl(239, 66%, 53%); */
    transform-origin: center;
    transform: rotate(90deg);
    background-image: url(aiguille-fleche.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    background-position: 1%;
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    border: 2px solid #1b1b1b;
    border-radius: 50%;
    margin: auto;
}

/* .horizontal-line {
    position: absolute;
    height: 400px;
    width: 4px;
    top: -7%;
    left: 173px;
    transform: rotate(90deg);
    background: #ccc;
} */

/* .vertical-line {
    position: absolute;
    height: 400px;
    width: 4px;
    top: -7%;
    left: 173px;
    background: #ccc;
} */

.user_gui {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    text-align: center;
    font-size: 3rem;
    height: 50px;
    width: 150px;
    border: none;
    font-family: 'Kaushan Script', cursive;
}

button {
    height: 80px;
    width: 90px;
    background-color: rgb(231, 231, 231);
    font-family: 'Kaushan Script', cursive;
}