
/* 007fff  blue arrow */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Kaushan Script', cursive;

}

#title{
    text-decoration: underline;
}

.wrap {
    position: relative;
    width: 350px;
    height: 350px;
}

.seconde {
    position: absolute;
    height: 300px;
    width: 300px;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    transform-origin: center;
    transform: rotate(90deg);
    background-image: url(aiguille-fleche.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    background-position: 1%;
}


.losange{
    position: absolute;
    height: 300px;
    width: 276px;
    margin: auto;
    top: 0px;
    left: 69px;
    bottom: 0;
    right: 0;
    /* background: hsl(239, 66%, 53%); */
    transform-origin: center;
    background-image: url(losange.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 79%;
    background-position: -7%;
}

.user_gui {
    margin-top: 10px;
}

.user_button{
    display: flex;
    margin-top: 20px;
}

.counter{
    width: 150px; 
    display: flex;
    font-size: 2rem;
}

input {
    text-align: center;
    font-size: 2rem;
    height: 50px;
    width: 100px;
    border: none;
    font-family: 'Kaushan Script', cursive;
    border-radius: 5px;
}

button {
    height: 80px;
    width: 90px;
    background-color: rgb(231, 231, 231);
    font-family: 'Kaushan Script', cursive;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }